<div class="container" >
  <div>
    <mat-grid-list cols="6" [style.margin-top]="'50px'">
      <mat-grid-tile [colspan] = "1" style="height: 50px"></mat-grid-tile>
      <mat-grid-tile [colspan] = "4" style="height: 50px">
        <form>
          <mat-input-container class="full-width">
            <input  autocomplete="new-text" matInput type="text" [(ngModel)]="username" name="usernameInput" id='usernameInput'
                    placeholder="Username">
          </mat-input-container>
          <mat-input-container class="full-width">
            <input autocomplete="new-password" matInput type="password" [(ngModel)]="password" name="passwordInput" id='passwordInput'
                   placeholder="Password">
          </mat-input-container>
          <button mat-raised-button="login" type="submit" class="mat-primary" (click)="login()">LOGIN</button>
        </form>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
