<div class="flex-container" >  
        <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
        <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
         <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
         <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
</div>
<div class="flex-container" >  
    <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
    <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
     <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
     <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
</div>
<div class="flex-container" >  
    <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
    <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
     <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
     <img class="flex-item" src="../../../assets/img/pilea.JPG"/>
</div>