<div>
    <div class="parent">  
        <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
        <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/> 
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/> 
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
         <img class = "child"style="height: 200px;width: 200px;" src="../../../assets/img/thumbnail/pilea.JPG"/>
    </div>
</div>
